/* Home.css */

.home-body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../assets/home_page_background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.title {
  position: fixed;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  color: white;
}

.card {
  background-color: rgba(160, 160, 192, 0.7);
  font-size: x-large;
  border-radius: 15px;
  padding: 20px;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nickname-label { /* Style for the nickname label */
  margin-bottom: 10px;
  color: black;
  font-size: large; /* Adjusted from x-large on card */
}

.nickname-input { /* Style for the nickname input */
  margin-bottom: 20px; /* Space below input */
  padding: 10px;
  width: 80%;
  box-sizing: border-box;
  color: black;
  font-size: large;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.team-select-label { /* Label for the team selection buttons */
  margin-bottom: 10px;
  color: black;
  font-size: large;
}

.team-buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.team-button {
  padding: 12px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium; /* Adjusted from large for button text */
  flex-grow: 1; /* Allow buttons to grow */
  margin: 0 10px; /* Add some space between buttons */
  transition: background-color 0.3s ease;
}

.team-button:hover:not(:disabled) { /* Add :not(:disabled) for hover effect */
  opacity: 0.8;
}

.team-button:disabled { /* Style for disabled buttons */
  background-color: #7f8c8d !important;
  cursor: not-allowed;
  opacity: 0.6;
}

.red-team-button {
  background-color: #c0392b; /* Red color */
}
.red-team-button:hover:not(:disabled) {
  background-color: #e74c3c; /* Lighter red on hover */
}

.blue-team-button {
  background-color: #2980b9; /* Blue color */
}
.blue-team-button:hover:not(:disabled) {
  background-color: #3498db; /* Lighter blue on hover */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 2%;
  width: 100%;
  text-align: center;
  color: white;
}

.footer a {
  color: #00aced;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.spaceships {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.spaceship {
  position: absolute;
  width: 50px;
  animation: fly 10s linear infinite;
}

.spaceship1 {
  animation-delay: 2s;
  top: 70%;
  left: -10%;
}

.spaceship2 {
  animation-delay: 0s;
  top: 25%;
  left: -10%;
}

.error {
  color: rgb(97, 0, 0);
  font-size: medium;
  margin-top: 5px;
}

@keyframes fly {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(110vw);
  }
}